src/WEB-INF/OtherService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OtherService" targetNamespace="http://other.easymbank.sbs.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://other.easymbank.sbs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://other.easymbank.sbs.com/" elementFormDefault="unqualified" targetNamespace="http://other.easymbank.sbs.com/" version="1.0">
<xs:element name="getSignaletique" type="tns:getSignaletique"/>
<xs:element name="getSignaletiqueResponse" type="tns:getSignaletiqueResponse"/>
<xs:complexType name="getSignaletique">
    <xs:sequence>
      <xs:element minOccurs="0" name="client" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSignaletiqueResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:client"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="client">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="comptes" nillable="true" type="tns:comptes"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="racine" type="xs:string"/>
      <xs:element minOccurs="0" name="telephone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="comptes">
    <xs:sequence>
      <xs:element minOccurs="0" name="agence" type="xs:string"/>
      <xs:element minOccurs="0" name="coddci" type="xs:string"/>
      <xs:element minOccurs="0" name="expl" type="xs:string"/>
      <xs:element minOccurs="0" name="libNcg" type="xs:string"/>
      <xs:element minOccurs="0" name="ncg" type="xs:string"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSignaletique">
    <wsdl:part name="parameters" element="tns:getSignaletique">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSignaletiqueResponse">
    <wsdl:part name="parameters" element="tns:getSignaletiqueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OtherService">
    <wsdl:operation name="getSignaletique">
      <wsdl:input name="getSignaletique" message="tns:getSignaletique">
    </wsdl:input>
      <wsdl:output name="getSignaletiqueResponse" message="tns:getSignaletiqueResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtherServiceSoapBinding" type="tns:OtherService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSignaletique">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSignaletique">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSignaletiqueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtherService">
    <wsdl:port name="OtherServicePort" binding="tns:OtherServiceSoapBinding">
      <soap:address location="http://w2b.banqueatlantique.net:8080/B2WServiceProject/OtherService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
